<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play!</title>
    <link rel="stylesheet" href="../styles/playScreen.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="shortcut icon" href="../assets/letters.png" type="image/x-icon">
</head>
<body>
    <header>
        <p class="time">60s</p>
        <h1>Word Game</h1>
        <a href="../index.html">
            <img src="../assets/icons/back.png" alt="">
        </a>
    </header>
    <main>
        <div class="playSection" id="playSection">
            <div class="letterContainer" id="letterContainer">
                <div class="selectLetter" id="selectLetter">
                    <p>Your letter:</p>
                    <h2 id="letter"></h2>
                </div>
                <h3 class="player">Player 1</h3>
            </div>
            <form>
                <label class= "labelInput" for="introducedWords">Enter words starting with the letter above:</label>
                <div class="wordInput">
                    <input autocomplete="off" type="text" name="introducedWords" id="introducedWords" placeholder="Introduce a word...">
                    <button type="submit">Send</button>
                </div>
                <div class="nextPlayer">
                    <button>Next</button>
                </div>
            </form>
        </div>
        <div class="wordsList" id="wordsList">
            <h2>Your Words:</h2>
            <ul>
                <li title="word"></li>
                <li title="largewordsolargemorelarge"></li>
            </ul>
        </div>
        <div class="uiWait">
            <h3 class="playerWait">1</h3>
            <p class="timeWait">5s</p>
        </div>
    </main>

    <script src="/scripts/gameScreen.js"></script>
</body>
</html>