<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winner</title>
    <link rel="stylesheet" href="../styles/winnerScreen.css">
    <link rel="shortcut icon" href="../assets/letters.png" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Word Game</h1>
        <a href="../index.html">
            <img src="../assets/icons/back.png" alt="">
        </a>
    </header>
    <main>
        <div class="ranking" id="ranking">
            <ul>
                <li>
                    
                </li>
            </ul>
            <div class="playersPoints" id="playersPoints">
                <h2>Total words: <span></span></h2>
                <ul>
                    
                </ul>
            </div>
        </div>
    </main>
    <script type="module" src="/scripts/winnerScreen.js"></script>
</body>
</html>