@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Questrial&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Righteous', display;
    color: #a2d2ff;
}

header h1 {
    position: relative;
    animation: fly 2s ease-in-out infinite alternate;
    -webkit-text-stroke: 1px #2b7ecc;
}

@keyframes fly {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(10px);
    }
}

main {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: 'Questrial', sans-serif;
    text-align: center;
}

form {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.selectPlayers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 200px;
}

label {
    padding: 25px 40px;
    font-family: 'Righteous', display;
    border-radius: 10px;
    font-size: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.p2 {
    background-color: #fce1e4;
    border: solid 1px #e9808c;
    color: #e9808c;
}

.p3 {
    background-color: #fcf4dd;
    border: solid 1px #c0a143;
    color: #c0a143;
}

.p4 {
    background-color: #e7f1e9;
    border: solid 1px #6ac775;
    color: #6ac775;
}

input[type="radio"] {
    display: none;

    &:checked+label {
        padding: 35px 50px;
        animation: bounce 0.2s ease-in-out;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

button {
    display: flex;
    justify-items: center;
    background-color: #a2d2ff;
    color: #2b7ecc;
    padding: 15px 60px;
    font-family: 'Questrial', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    border: solid 2px #2b7ecc;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

button:hover {
    background-color: #2b7ecc;
    color: #ffffff;
    transform: scale(1.2);
}