@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Questrial&display=swap);

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

header p {
    color: #2b7ecc;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    border: solid 2px #2b7ecc;
    border-radius: 20px;
    padding: 5px 10px;
}

h1 {
    font-size: 45px;
    font-family: 'Righteous', display;
    color: #a2d2ff;
    position: relative;
    animation: fly 2s ease-in-out infinite alternate;
    -webkit-text-stroke: 1px #2b7ecc;
}

@keyframes fly {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

a img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        transform: scale(1.2);
    }
}

main {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.ranking {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    ul {
        display: flex;
        padding: 0;

        li {
            list-style: none;
            position: relative;
            
            a {
                color: #ffebeb;
                margin: 5px;
                padding: 15px 25px;
                font-size: 35px;
                border-radius: 10px;
                font-family: 'Righteous', display;
                text-decoration: none;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                -webkit-tap-highlight-color: transparent;
            }

            a:hover {
                padding: 20px 30px;
                animation: bounce 0.2s ease-in-out;
            }

            @keyframes bounce {
                0% {
                    transform: scale(1);
                }
            
                50% {
                    transform: scale(1.2);
                }
            
                100% {
                    transform: scale(1);
                }
            }

            a.winner:before {
                content: "";
                position: absolute;
                top: -50px;
                left: 72px;
                width: 50px;
                height: 50px;
                background-image: url('../assets/icons/crown.png');
                background-size: cover;
            }

            .pl1 {
                background-color: #fce1e4;
                border: solid 1px #e9808c;
                color: #e9808c;
            }

            .pl2 {
                background-color: #fcf4dd;
                border: solid 1px #c0a143;
                color: #c0a143;
            }

            .pl3 {
                background-color: #e7f1e9;
                border: solid 1px #6ac775;
                color: #6ac775;
            }

            .pl4 {
                background-color: #c8e4ff;
                border: solid 1px #2b7ecc;
                color: #2b7ecc;
            }
        }
    }
}

.playersPoints {
    min-height: 40%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 10px 20px;
    border: solid 2px #e9808c;
    border-radius: 20px;
    background-color: #fce1e4;
    color: #ffebeb;
    overflow-y: scroll;
    
    h2 {
        margin: 7px;
        font-size: 30px;
        font-family: 'Questrial', sans-serif;
    }

    ul {
        margin: 7px;

        li {
            font-size: 20px;
            font-family: 'Questrial', sans-serif;
        }
    }
}
